# Dependencies
node_modules/

# Build outputs
dist/
build/
coverage/
*.tsbuildinfo
.expo/
.expo-shared/
web-build/

# Native generated folders
android/
ios/

# Environment
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS/editor
.DS_Store
Thumbs.db
.idea/
.vscode/
